@model BlogAdminListModel
@{
	Layout = "_LayoutAdmin";
}
<label>Blog Ara</label>
<form asp-action="Blogs" asp-controller="Admin">
	<input class="form-control" type="search" name="searchWord" />
</form>

<div class="container-fluid mt-5 ">
	<div class="row">
		<div class="col-6">
			<h3 class="mb-4 text-center">Son Oluşturulan Bloglar</h3>
			<ul class="list-unstyled">
				@for (int i = 0; i < Model.LatestBlogs.Count; i++)
				{
					<li class="" style="width:100%;"><div class="row"><div class="col-8" style="overflow: hidden"> <a class="" style="overflow: hidden" asp-action="Detail" asp-controller="Home" asp-route-id="@Model.LatestBlogs[i].Id">@Model.LatestBlogs[i].Title</a></div><div class="col-4"><div class="d-flex justify-content-end"> <a class="btn btn-warning" asp-action="BlogUpdate2" asp-controller="Admin" asp-route-blogId="@Model.LatestBlogs[i].Id">Düzenle</a><a class="btn btn-danger" asp-action="RemoveBlog" asp-controller="Admin" asp-route-blogId="@Model.LatestBlogs[i].Id">Sil</a></div></div> </div></li>
				}
			</ul>
		</div>
		<div class="col-6">
			<h3 class="mb-4 text-center">En Beğenilen Bloglar</h3>
			<ul class="list-unstyled">
				@for (int i = 0; i < Model.BlogsOrderedById.Count; i++)
				{
					<li class="" style="width:100%;"><div class="row"><div class="col-8" style="overflow: hidden"> <a class="" style="overflow: hidden" asp-action="Detail" asp-controller="Home" asp-route-id="@Model.BlogsOrderedById[i].Id">@Model.BlogsOrderedById[i].Title</a></div><div class="col-4"><div class="d-flex justify-content-end"> <a class="btn btn-warning" asp-action="BlogUpdate2" asp-controller="Admin" asp-route-blogId="@Model.BlogsOrderedById[i].Id">Düzenle</a><a class="btn btn-danger" asp-action="RemoveBlog" asp-controller="Admin" asp-route-blogId="@Model.BlogsOrderedById[i].Id">Sil</a></div></div> </div></li>
				}
			</ul>
		</div>
	</div>
</div>

<div class="d-flex justify-content-center mt-5">
	<a class="btn btn-dark text-white" style="width:15%" asp-action="Create" asp-controller="Home">Blog Oluştur<span class="sr-only">(current)</span></a>
</div>
